//=====================================================
//                             ОСНОВНЫЕ  ПЕРЕМЕННЫЕ
//=====================================================

// Size
$fontSize:                     14px;
$fontWeight:                   500;
$lineHeight:                   21px;

$desktop-big-width:            2460px;
$desktop-width:                1920px;
$desktop-sm-width:             1024px;
$table-width:                  768px;
$table-sm-width:               640px;
$phone-Width:                  480px;
$phone-sm-width:               320px;

// COLOR
$accent:                       #E39861;

$basic:                        #658DB9;
$basic-75:                     #173E63BF;
$primary:                      #4770A0;
$primary-75:                   #4770A0BF;

$secondary:                    #EBEBEB;
$secondary-50:                 #4a556d80;

$neutral:                      #c4c4c4;

$select-primary:               #FFFFFF;   

// PLACEHOLDER
$placeholder:                  rgba(244, 244, 244, 0.75);

// SHADOW
$box-shadow:                   0px 4px 15px rgba(0, 0, 0, 0.1);
$linear-gradient:              #658DB9;
$linear-gradient-text:         #FFFFFF;
// Border Colo