//=====================================================
//                             ОСНОВНЫЕ  ПЕРЕМЕННЫЕ
//=====================================================

// Size
$fontSize:                     14px;
$fontWeight:                   500;
$lineHeight:                   21px;

$desktop-big-width:            2460px;
$desktop-width:                1920px;
$desktop-sm-width:             1024px;
$table-width:                  768px;
$table-sm-width:               640px;
$phone-Width:                  480px;
$phone-sm-width:               320px;

// COLOR
$accent:                       #1B99D5;

$basic:                        #ffffff;
$basic-75:                     #F4F4F4BF;


$primary:                      #F6F6F6;
$primary-75:                   rgba(244, 244, 244, 0.75);

$secondary:                    #4A556D;
$secondary-50:                 #4a556d80;

$neutral:                      #c4c4c4;

$select-primary:               #FFFFFF;   

// PLACEHOLDER
$placeholder:                  rgba(244, 244, 244, 0.75);

// SHADOW
$box-shadow:                   0px 4px 15px rgba(0, 0, 0, 0.1);
$linear-gradient:              linear-gradient(146.22deg, #24a6e4 6.48%, #2a337d 155.29%);
$linear-gradient-text:         #FFFFFF;