body {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background: #1e67c7;
  text-align: center;
  text-transform: uppercase;
}

.cnv {
  -ms-grid-column: 2;
  grid-column: 2;
}

.info {
  border: springgreen 2px solid;
  height: 100vh;
}

.info__block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.next__block {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}
