body {
    display: flex; 
    background: rgb(0, 100, 100);
    color: rgb(17, 19, 19);
}

.minus, .plus , input {
    
    /* display: flex; */
    margin: 40px;
    padding: 50px;
    width: 300px;
    background: #9899a1;
}

