 //===================================================== 
 //                 ОБНУЛЕНИЕ	БРАУЗЕРОВ                                    
 //===================================================== 
@import './utilits/resets';

 //===================================================== 
 //                 ПОДКЛЮЧЕНИЕ ШРИФТОВ                                    
 //===================================================== 

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

 //===================================================== 
 //                 ПОДКЛЮЧЕНИЕ СТИЛЕЙ                                    
 //=====================================================
@import '/component';

// ============  ОСНОВНЫЕ СТИЛИ ПО БРЭНДБУКУ  =========

body{
	width: 100vw;
	height: 100vh;
	color: $mainFontColor;
	background: $primary-color;
	font-size: $mainFontSize;
	line-height: $mainLineHeight;
	font-weight: $mainFontWeight;
}

//=====================================================
//                 HEADER
//=====================================================
header {
}

//=====================================================
//                 NAV
//=====================================================
nav {
}

//=====================================================
//                 Main
//=====================================================
main {
}

//=====================================================
//                 SECTION
//=====================================================
section {
}
//=====================================================
//                 FOOTER
//=====================================================
footer {
}






