body{
    background-color: black;
    font-family: "onsolas",'monospace';
    color: rgba(0,255, 0, 1);
    margin : 0;
    padding:0;
}
 
main{
     padding: .5rem;
 }

 #output {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 #output .user {
     color: rgba(0,255, 0, 1);
     font-weight: bold;
 }

 #prompt {

     display: flex;
     align-items: center;
     font-size: 1.5rem;
 }
 
 #prompt input{
     display: block;
     outline:none;
     border: none;
     background-color: transparent;
     color: #0f0;
     padding: 1 rem .5rem;
     font-size: inherit;
     font-family: 'Consolas',monospace;
     position: relative;
 }

 #prompt:before {
      content: '>     ';
 }

 



 #blink{
     -webkit-animation: blink 3s linear infinite;
     animation: blink 5s linear infinite;
      
 }


 @keyframes blink{
    50% {color:rgb(37, 40, 221);}
    51% {color:rgb(209, 28, 164);}
    100% {color:rgb(155, 230, 16);}

 }
 
 