//  Шрифт по умолчанию ========================================================================================
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300&display=swap');

$fontfamily: 'Lato';

// Переменныеы ================================================================================================
$minwidth : 320px ;
$mw: 1100px ;


.mainBlock {
    &__content {}
    &__logo {}
    &__text {}
    &__title {}
    &__subtitle {}
    &__footer {}
    &__btn {}
    &__arrow {}
    &__img {}
}