// Обнуление 
@import '_nullstyle';
@import '_stylefonts';

// Переменные
$fz:50px;
$colourBlue: rgb(0, 48, 48);
$colorBlack:#000;
$wh:rgb(192, 187, 187);
$pd:20px;
// Стили
body {    
    background: $colorBlack;
    color: $wh;

}

.header {
    position: absolute;
    text-align: center;
    background:$wh;
    width: 340px;
    height: 400px;
    padding: 10px;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-transform: uppercase;
    &__text {
    color: $colorBlack;
    padding: $pd;
    font-size: $fz;
    }
    &__email {
        color:$wh;
     margin: $pd;
    }
    &__email:hover {
        background: rgb(21, 21, 21);
    }
}
.password:hover {
    color:$wh;
    background: rgb(21, 21, 21);
}
.submit {
    position: absolute;
    right: 50px;
    bottom: 100px;
    background:#000; 
    color:$wh;
    width: 20em;
    height: 4em;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.header__res {
    font-size: 30px;
color: $wh;
text-transform: uppercase;
font-weight: bold;

}
.submit:hover {
background:$wh;
height: 60px;
width: 300px;
color: $colorBlack;
text-transform: uppercase;
font-weight: bold;
}
.pole {
    font-size: 20px;
    background: $colorBlack;
    border: 1px solid rgb(255, 255, 255);
    width: 300px;
    height: 40px;
}
