body {
    background-color:rgb(0, 100, 100) ;
    color: rgb(48, 48,48); 
    font-size: 60px;
}


.thumb {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 30px;
    box-shadow: 0 0 5px #ccc;
    transition:  0.2s ease-out;
}

.thumb:hover {
    transform: rotate(-15deg);
       border: 3px rgb(15, 209, 15);
}

.feedbac {
    border-radius: 0  10px 10px 0;
    width: 1100px;
    background: #333333;
    color: #fff;
    position: fixed;
    min-height: 300px;
    top: 200px;
    left: -1100px;
    border-right: 80px solid #fc0;
    padding: 30px;
    transition: left 1s ease-out;
}
.feedbac img{
    float: left;
    margin: 0 10px 00;
}

.feedbac::after {
    content: 'обратная связь';
    color: #000;
    position: absolute;
    right: -200px;
    bottom:150px;
    transform: rotate(-90deg);
    font-size: 50px;
}
.feedbac:hover {
    left:0;
}



a {
    background:#828c95;
    color: #fff;
    font-size: 1.5em;
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px solid #b5bdc8;
    transition:  background , border 1s ease-in, color 2s ease-out;
}

a:hover {
    border-color: greenyellow;
    color:#333;
    border: 2px solid #ff670f;
}