
.button{
    background: #000;
    color: white;
    width: 384px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    line-height: 49px;
    text-transform: uppercase;  
}