// this 5 section 
.five img{
    position: relative;
    background-size: 100%;
    top:500px;
}
// text
.five_text{
    margin: 550px 0 0 38%;
    size: 32px;
}
.five_opisanie{
    margin: 40px 0 0 0;
    size: 16px;
    text-align: center;
}
