body{
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    display: grid;
    height: 60px;
    grid-template-columns: 20px 0.8fr 0.95fr 0.3fr 0.6fr;
}
.men{
    position: relative;
    top: 18px;
    left: 66px;
}
.stores{
    left: 156px;
}
.icon{
    position: relative;
    top: -15px;
    text-align: center;
        a{
        display: inline-block;
        margin: 10px;
    }
}
.logo{
    position: relative;
    text-align: center;
    top: 10px;
}