@import 'five';
@import 'six';
@import 'eight';
@import 'button';
@import 'nine';
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto';
}
a{
    text-decoration: none;
    color: #000;
}
header{
    text-transform: uppercase;
    display: grid;
    height: 60px;
    grid-template-columns: 20px 0.8fr 0.95fr 0.3fr 0.6fr;
}
.men{
    position: relative;
    top: 18px;
    left: 66px;
}
.stores{
    left: 156px;
}
.icon{
    position: relative;
    top: -15px;
    text-align: center;
        a{
        display: inline-block;
        margin: 10px;
    }
}
.logo{
    position: relative;
    text-align: center;
    top: 10px;
}

.prieviv{
    img{
        position: relative;
        left: -60px;
        background-size: 100%;
    }
    display: grid;
    width: 100vw;
    height: 130vh;
    grid-template-columns: 1fr;
    &_text{
        position: relative;
        top: -70vh;
        left: 26vw;
        color: white;
        font-size: 48px;
    }
    p{
        position: relative;
        top: -75vh;
        left: 45vw;
        color: white;
        font-size: 16px;
    }
}
.btn{
    width: 200px;
    height: 38px;
    background: #fff;
    position: absolute;
    text-align: center;
    padding:  20px 0 0 0;
    text-transform: uppercase;  
}
.btn1{
    top: 650px;
    left: 30%;
}
.btn2{    
    top: 650px;
    left: 55%;
}

figure {
    display: inline-block; /* Выстраиваем по горизонтали */
    position: relative;
    top: 70px;
    padding: 0 0px 0 50px; /* Поля */
    margin: 0 17% 0 0; /* Отступ справа */
    vertical-align: middle; /* Выравниваем по верхнему краю */
   }
figcaption{
    position: relative;
    top: 5px;
    float: right;
    margin: 0;
}
.white{
    position: relative;
    top: 80px;
    display: grid;
    grid-template-columns: 3% 1fr 1fr 1fr;    
}
.favorit{
    position: relative;
    top: -40px;
    text-align: center;
}

.fav{
 text-align:inherit;
 list-style: none;
 position: relative;
 top: 10px;
 li{
     display: inline;
     margin: 0 13% 0 15%;
 }
}
.line{
    width: 90vw;
    margin: 0 0 0 70px;    
    border-bottom: solid 1px black ;
    position: relative;
    bottom: 110%;
}
.fav2{
top: 100px;
left: -170px;
}
.lines{
    position: relative;
    width: 320px;
    border-bottom: 1px solid black;
}
.line1{   
    left: 65px; 
    top: 70px;
}
.line2{
    left: 520px;
    top: 70px;
}
.line3{
    left:970px;
    top: 70px;
}
.bottom{
    text-transform: uppercase;
    width: 250px;
    top: 120px;
    left: 120px;
}
.bottom2{
    width: 250px;
    top: 230px;
    left: 120px;
}
.three{
    background-size: 100%;
    position: relative;
    top: 250px;
}
.text{
    size: 32px;
    position: relative;
    top: 300px;
    text-align:center;
}
.meriono{
    size: 16px;
    position: relative;
    top: 300px;
    text-align:center;
}
.black{
    background: #000;
    color: white;
    position:relative;
    top: 300px;
}
.gribBtn{
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
   .btn{
     margin: 0 0 0 90%;   
    }
     .btn:first-child{
        margin:0 0 0 70%;
    }     
}
.btn_prev{
    position: absolute;
    top: 50%;
    font-size: 60px;
}
.btn_next{
    position: absolute;
    top: 50%;
    right: 1%;
    font-size: 60px;
    z-index: 3;
}

.wrapper{
    position: relative;
    top: 300px;
    width: 100%;
    margin: 0 auto;
}

.slider_container{
    overflow: hidden;
    background: rgb(82, 66, 66);
}
.slider_track{
    display: flex;
    transition: .2s ease-in-out;
}
.slide_item{
    height: 400px;
    min-width: 400px;
    margin: 0 20px ;
}
