.header {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 295px) minmax(30px, 50px) minmax(auto, 1015px) 1fr;
	box-shadow: 0px 2px 4px #e9e9e9;
	background: #faf9f9;
	align-items: center;
	padding: 0 40px;
	margin-bottom: 20px;
	height: 80px;

	
	&__logo {
		grid-column: 2/3;
	}

	&__menu {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column: 4/5;
	}

	&__list {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
	}

	&__item {
		padding-right: 10px;
		color: #222222;
		font-size: 16px;
		white-space: nowrap;
	}

	&__account {
		display: grid;
		grid-template-columns: 1fr 1fr;
		.footbol {
			display: grid;
			align-items: center;
			justify-content: end;
			a {
				background: #fff;
				padding: 8px 10px;
			}
		}
	}

	&__icon {
		display: grid;
		grid-auto-flow: column;
		justify-content: end;
		align-items: center;
	}

	&__icon-item {
		margin-left: 60px;
	}
}
//
.flash a {
	display: block;
	color: #222222;
	font-size: 16px;
	padding: 5px 10px;
}

.flash a:hover {
	background: #efeffd;
	border-radius: 5px;
	color: #5a60e7;
}

// ==================== media
@media (min-width: 1440px) {
	.header__burger{
		display: none;
	}

}

@media (max-width: 1024px) {
	.header {
		height: 80px;
		
		&__logo {
		min-width: 130px;
		}

		&__menu {
			display: grid;
			grid-template-columns: minmax(3fr,auto) minmax(1fr, auto);
		}

		&__list {
			a{
				font-size: 13px;
			}
		}


		&__account .footbol, .flash{
			display: none;
		}
		&__account {
			display: grid;
			grid-template-columns: 1fr 3fr;
		}

		&__icon  {
			grid-column: 1/3;			
		}
		&__icon-item  {
			display: none;			
		}
		.bag {
			display: grid;
			width: 70px;
			justify-content: end;
		}

		&__burger {
			a {
				display: block;
			}
		}
}
.footbol {
	display: none;
}
.flash {
	display: none;
}


}
@media (max-width: 640px) {
	.header {
		display: grid;
		padding: 15px;
		//grid-gap: 25px;
		grid-template-columns: minmax(auto, 210px) minmax(110px, auto) minmax(60px, auto) minmax(25px, auto);
		&__logo {
			//li a, img{
			//	height: 40px;
			//	width: 90px;
			//}
			grid-column: 1/3;
		}

		&__menu {
			display: grid;
			grid-template-columns: 4fr 1fr;
			grid-column: 3/4;
		
		}

		&__list {
			display: none;
		}

		&__item {
			display: none;
		}

		&__account {
				justify-content: end;
	display: flex;
			.footbol, .flash{
				display: none;
			}
		}

		&__icon-item {
			display: none;
		}
		.bag {
			display: block;
		}

		&__icon {
			//display: grid;
			//grid-template-columns: 30px;
		
			li{
		
				
			}
	li a, img{
			height: 30px;
			width: 30px;
		}
		}
	}
	.footbol {
		display: none;
	}
	.flash {
		display: none;
	}
	.header__burger{
		display: flex;
		justify-content: flex-end;
		grid-column: 4/5;
		padding-right: 20px;

	}
}
