.header {
	display: grid;
	grid-template-columns: 1fr minmax(295px, auto) minmax(1015px, auto) 1fr;
	box-shadow: 0px 2px 4px #E9E9E9;
	align-items: center;
	padding: 0 15px;
	margin-bottom: 20px;
		&__logo {
			grid-column: 2/3;
		}

		&__menu {
			display: grid;
			grid-template-columns: 1fr 1fr;
			
		}

		&__list {
			display: grid;
			grid-auto-flow: column;
			align-items: center;
		}

		&__list li{
	
		}

		&__item {
			color: #222222;
			font-size: 16px;
		}

		&__account {
		}

		&__icon {
			display: grid;
			grid-auto-flow: column;
			justify-content: end;
			align-items: center;
		}

		&__icon-item {
			margin: 0 50px;
		}

}