.main {
	display: grid;
	grid-template-columns: minmax(5px, 1fr) minmax(295px, auto) minmax(3%, 50px) minmax(auto, 1015px) 1fr;
}
// ================= sidebar
.sidebar {
	grid-column: 2/3;
	height: 800px;
	background: #ffffff;
	box-shadow: 0px 2px 8px #e9e9e9;
	border-radius: 10px;

	&__menu {
		padding: 0 65px 0 20px;
	}

	&__list li {
		position: relative;
		min-height: 32px;
	}
	&__list li ul {
		display: none;
		margin-top: 5px;
	}

	&__list li:hover ul {
		display: block;
		background: #fff;
		border-radius: 5px;
	}

	&__list li a {
		display: block;
		color: #222222;
		font-size: 16px;
		padding: 5px 10px;
	}

	&__list li a:hover {
		background: #efeffd;
		border-radius: 5px;
		color: #5a60e7;
	}

	&__link:hover::after {
		content: url(../img/icon/arrow.svg);
		position: absolute;
		right: 10px;
	}

	&__two-link {
		max-width: 190px;
		margin-left: 20px;
	}

	.out {
		margin-top: 60px;
	}
}
// ========= card sidebar
.card {
	background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2c2c2c;
	border-radius: 10px;
	height: 184px;
	padding: 20px;
	margin-bottom: 50px;
	display: grid;
	grid-template: 1fr 1fr / minmax(auto, 80px) 1fr;
	img {
	}
	&__text {
		padding-left: 8px;
		font-size: 20px;
		color: #ffffff;
		h1 {
			font-size: 30px;
			color: #ffffff;
			padding-bottom: 3px;
		}
	}

	&__name {
	}
	&__redact {
		grid-column: 1/3;
		color: #acaff3;
		position: relative;
		a {
			position: absolute;
			bottom: 0;
		}
	}

	&__surename {
	}
}

// ========== content main
.content {
	display: grid;
	grid-template-rows: 184px 60px 1fr;
	grid-column: 4/5;
	grid-row-gap: 20px;
	border-radius: 10px;
}
.content__info {
	background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2c2c2c;
	border-radius: 10px;
	height: 184px;
	margin-bottom: 20px;
}
.info {
	display: grid;
	grid-template-columns: minmax(auto, 275px) minmax(210px, auto) minmax(auto, 150px);
	grid-gap: 50px;
	padding: 20px 20px 14px;
}

// ============== icon
.info__icon {
	display: grid;
	grid-template-rows: minmax(40px, 50px) 40px;
	grid-row-gap: 19px;
}

.info__up {
	display: grid;
	grid-template-columns: repeat(6, 40px);
	grid-column-gap: 15px;
	align-items: flex-end;
	border-bottom: 1px solid #d6d7f9;
	padding-bottom: 5px;
}
.info__down {
	display: grid;
	grid-template-columns: repeat(7, 40px);
	grid-column-gap: 5px;
}

// ======= search content
.info__search {
	display: grid;
	grid-template-rows: minmax(auto, 40px) 1fr;
}
.search__up {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	border: 0.5px solid #5a60e7;
	padding: 5px;
	border-radius: 5px;
	a {
		line-height: 25px;
		text-align: center;
		font-weight: 600;
		color: #ffffff;
		width: 210px;

		border-radius: 3px;
	}
	a:hover {
		background: #5a60e7;
	}
}

.search__down {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 20px;

	.down__block {
		width: 95px;
		height: 75px;
		background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2c2c2c;
		border-radius: 5px;
		display: grid;
		position: relative;
		border: 1px solid transparent;
		border-image: linear-gradient(45deg, #2c2c2c 0%, #5a60e7 35%, #1e1e28);
		border-image-slice: 1;
		h1 {
			color: #fff;
			padding: 10px 0 0 10px;
		}
		p {
			color: #ff795b;
			font-size: 30px;
			text-align: right;
			padding: 0 10px 0 0;
		}
	}
}

// ========== main social icon
.info__social {
	display: grid;
	grid-template: repeat(3, minmax(30px, auto)) / repeat(3, minmax(30px, auto));
	grid-gap: 25px;
	.info__social-icon {
		grid-column: 1/3;
		display: flex;
		align-items: flex-end;
		a {
			width: 35px;
			height: 35px;
		}
	 .pod{
		 position: absolute;
		 padding: 5px;
		display: flex;
		top: 80px;
		color: #ACAFF3;
		font-size: 12px;
	}
	}
}

.close{
	margin-left: 15px;
}
	.close:before, .close:after {
	position: absolute;	
	content: ' ';
	
	height: 30px;
	width: 2px;
	background-color: #5A60E7;
	}
	.close:before {
		transform: rotate(45deg);	
	}
	.close:after {
	transform: rotate(-45deg);
	}
.one-px::before,.one-px::after {
	width: 1px;
}
.o-px::before,.o-px::after{
width: 0.5px;
}

// ============= list

.content__list{
	position: relative;
	max-width: 200px;
	margin: auto 0;
	
	li{
		width: 170px;
		padding: 10px;
		background: #FFFFFF;
		color: #909090;
	}
	li:hover::after {
		content: url(../img/icon/arrow.svg);
		position: absolute;
		right: 40px;
		top: 7px;
	}
	li::after {
		content: url(../img/icon/down.svg);
		position: absolute;
		right: 40px;
		top: 7px;
	}
}