@charset "UTF-8";
/* ======================  обнуление */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

body {
  height: 100vh;
  background: #E5E5E5;
  font-family: Montserrat;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: minmax(auto, 80px) 1fr minmax(auto, 400px);
      grid-template-rows: minmax(auto, 80px) 1fr minmax(auto, 400px);
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(295px, auto) minmax(1015px, auto) 1fr;
      grid-template-columns: 1fr minmax(295px, auto) minmax(1015px, auto) 1fr;
  -webkit-box-shadow: 0px 2px 4px #E9E9E9;
          box-shadow: 0px 2px 4px #E9E9E9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
}

.header__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.header__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  color: #222222;
  font-size: 16px;
}

.header__icon {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon-item {
  margin: 0 50px;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(295px, auto) minmax(1015px, auto) 1fr;
      grid-template-columns: 1fr minmax(295px, auto) minmax(1015px, auto) 1fr;
}

.sidebar {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 800px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 8px #e9e9e9;
          box-shadow: 0px 2px 8px #e9e9e9;
  border-radius: 10px;
}

.footer {
  background: #222222;
}
