@charset "UTF-8";
/* ======================  обнуление */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/* ======================= переменные */
body {
  background: #faf9f9;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [logo] 0.29fr 1fr;
      grid-template-columns: [logo] 0.29fr 1fr;
  -webkit-column-gap: 3.5%;
          column-gap: 3.5%;
  padding: 0 40px;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [logo] 0.29fr 1fr;
      grid-template-columns: [logo] 0.29fr 1fr;
  -webkit-column-gap: 3.5%;
          column-gap: 3.5%;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 2px 4px #e9e9e9;
          box-shadow: 0px 2px 4px #e9e9e9;
}

.logo {
  grid-column: logo;
  display: inline-block;
  min-width: 120px;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__nav a {
  color: #000;
}

.menu__nav-item {
  padding-right: 10%;
  white-space: nowrap;
  position: relative;
}

.menu__nav-item img {
  position: absolute;
  width: 16px;
}

.menu__account {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.menu__footbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.menu__client {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: right;
}

@media (max-width: 1024px) {
  .menu__footbol {
    width: 40px;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .menu__client img {
    max-width: 35px;
  }
  .menu__nav-item {
    padding-right: 8%;
  }
}

@media (max-width: 768px) {
  .menu__footbol {
    width: 27px;
  }
  .menu__client img {
    max-width: 25px;
  }
  .menu__nav-item {
    padding-right: 5%;
  }
}

@media (max-width: 670px) {
  .menu__nav-item img {
    display: none;
  }
}

.box__account {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 184px 1fr;
      grid-template-rows: 184px 1fr;
  row-gap: 50px;
  position: relative;
  background: #ffffff;
  height: 800px;
}

.box__account .side__menu {
  -ms-grid-row: 2;
  grid-row: 2;
}

.card__item {
  width: 100%;
  position: absolute;
  height: 184px;
  margin-bottom: 50px;
  background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2c2c2c;
  border-radius: 10px;
}

.card__item img {
  display: inline-block;
  padding: calc(5px + 15 * ((100vw - 320px) / 1120));
}

.prosent {
  position: absolute;
  left: 103px;
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  color: #FFFFFF;
}

.prosent img {
  position: relative;
  left: -10px;
  bottom: 20px;
}

.user {
  position: absolute;
  top: 35%;
  left: 103px;
  color: #FFFFFF;
  font-size: 20px;
}

.redact {
  position: absolute;
  top: 140px;
  left: 0px;
}
