//обнуление браузеров
@import './utilits/resets';
// шрифт
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// стили

html, body{
	width: 100vw;
	height: 100vh;
	background:   #FAF9F9;
	font-family: Montserrat;
	overflow-x: hidden;
}
.wrapper {
	display: grid;
	min-height: 100vh;
	min-width: 100vw;
	//grid-template-rows: minmax(auto, 80px) 1fr minmax(auto, 400px);
}

@import './header';
@import './main';
@import './footer';



