//обнуление браузеров
@import './utilits/resets';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
	height: 100vh;
	background: #E5E5E5;
	font-family: Montserrat;
}
.wrapper {
	display: grid;
	min-height: 100vh;
	grid-template-rows: minmax(auto, 80px) 1fr minmax(auto, 400px);
}

@import './header';
@import './main';
@import './footer';


.footer {
}
