html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(32, 32, 34);
  color: rgb(235, 237, 243);
  line-height: 1;
  // Переводим в REM
  // Делим размер по макету (14рх)
  // На 16 (размер шрифта по умолчанию)
  // font-size: 0.875rem;
}

.wrapper {
  padding: 80px 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  // Переводим в REM
  // Делим размер по макету (1020рх + 30px)
  // На 16 (размер шрифта по умолчанию)
  // font-size: 0.875rem;
  max-width: 65.625rem;
}

.main {
  &__header {
    // Переводим в REM
    // Делим ширину по макету (750)
    // На 16 (размер шрифта по умолчанию)
    max-width: 46.875rem;
  }

  &__subtitle {
    color: rgb(100, 106, 133);
    font-weight: 700;
    text-transform: uppercase;
    // font-size
    // Переводим в REM
    // Делим размер по макету (14рх)
    // На 16 (размер шрифта по умолчанию)
    // font-size: 0.875rem;
    font-size: 0.875rem;

    // LIHE_HIGHT
    // Переводим в % либо части
    // Делим размер по макету (24рх)
    // На размер шрифта 14рх
    line-height: 1.7;
    // ОТСТУПЫ
    // Переводим в em
    // Делим размер по макету (16рх) по умолчанию
    // На размер шрифта 42рх
    margin: 0 0 1.07em 0;
  }

  &__title {
    color: rgb(183, 187, 204);
    font-weight: 900;
    text-transform: uppercase;
    // font-size
    // Переводим в REM
    // Делим размер по макету (42рх)
    // На 16 (размер шрифта по умолчанию)
    font-size: 3.65rem;
    // LIHE_HIGHT
    // Переводим в % либо части
    // Делим размер по макету (50рх)
    // На размер шрифта по  умолчанию 16рх
    line-height: 2.79rem;
    // ОТСТУПЫ
    // Переводим в em
    // Делим размер по макету (16рх) по умолчанию
    // На размер шрифта 42рх
    margin: 0 0 0.38em 0;

    // ОТСТУПЫ
    // Переводим в em
    // Делим размер по макету (5px)
    // На размер шрифта 42рх
    letter-spacing: 0.11em;
  }

  &__text {
    // Переводим в REM
    // Делим размер по макету (16рх)
    // На 16 (размер шрифта по умолчанию)
    font-size: 1rem;
    // ОТСТУПЫ
    // Переводим в em
    // Делим размер по макету (50рх)
    // На размер шрифта 16рх
    margin: 0 0 3.125em 0;
  }

  &__cards {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(18.25rem, 1fr));
  }
}

.card {
  display: flex;
  // // получаем размер в %
  // // делим на общую ширину на 3
  // flex: 1 1 33.333%;

  &__icon {
    flex: 0 0 100px;
    svg {
      width: 200px;
    }
  }
  &__body {
  }

  &__title {
    color: rgb(107, 122, 189);
    font-weight: 900;
    // Переводим в REM
    // Делим размер по макету (24рх)
    // На 16 (размер шрифта по умолчанию)
    font-size: 1.5rem;
  }

  &__text {
    // LIHE_HIGHT
    // Переводим в % либо части
    // Делим размер по макету (24рх)
    // На размер шрифта по  умолчанию 16рх
    line-height: 1.5rem;
  }
}

// переводим в em
// нужный размер 768 делим
// на 16рх (размер шрифта по  умолчанию)
@media (max-width: 48em) {
  // Переводим в REM
  // Делим размер по макету (30рх)
  // На 16 (размер шрифта по умолчанию)
  .main__title {
    font-size: 1.85rem;
  }
  .icon {
    width: 60px;
  }
}
