body {
  background: rgb(57, 166, 181);
}

svg {
  background: rgb(24, 25, 51);
  border-radius: 50%;
margin: auto;
}


line {
  margin: 300px;
  stroke: #15e4a6;
  stroke-width: 2;
  stroke-linecap: round;
  fill: none;
  animation: rotating 60s linear infinite;
}
.big {
  stroke: #097756;
  stroke-width: 5;
  stroke-linecap: round;
  fill: none;
  animation: rotating 10s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
    circle {
    fill: none; /* Уюрать заливвку*/
    stroke: #f58; /*Задать цвет*/
    stroke-width: 70;
    stroke-opacity: 0.8;
    }
