// переменные
$minWidth:380px;
$maxWidth: 1280px;
$fontFamily: 'Montserat';
//mixin
@mixin adaptiv-font ($pcSize, $mobilSize) {
    $addSize: $pcSize - $mobilSize;
    $addMobiSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobilSize + px} + #{$addMobiSize} * ((100vw -320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobilSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

@mixin flexbox() {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0px;
}
