.mirx  {
    transform: rotate(-110deg) ;   
}

li   {
    background: #a9c358;
    list-style: none;
    width: 300px;
    margin-bottom: 10px;
    transform: skewX(-30deg);
}

li a {
    color: #2c285d;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
   
}

li  a:hover   {
    background: #9bca0f;
    
}