body {
        
    background-color:rgb(0, 100, 100) ;
    color: rgb(48, 48,48);   
}

figure {
    width: 21%;
    float:left;
    margin: 0 0 0 3.5%;
    border-radius: 5%;
    
}

figure :first-child {
  margin-left: 0px;
}

figure img {
    width: 100%;
}
.age {
    /* интерполяция */
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
}

.blocl {
    width: 100%;
    height:224px;
    margin: 0;
    overflow: hidden;
    min-height: 124px;
  
}

.obl {
    width: 100%;
    height: 300px;
    margin: 0;
}

.obl img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

