body{
	margin: 0px;
	padding: 0px;
	background: rgb(255, 255, 255);
	position: absolute;
}
.a{
	position: relative;
	width: 10vw;
	height: 10vh;
	top: 50%;
	left: 50%;
background: rgb(47, 81, 231);
}
.modal{
	display: none;
}
