@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: #000;
}

header {
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  height: 60px;
  -ms-grid-columns: 20px 0.8fr 0.95fr 0.3fr 0.6fr;
      grid-template-columns: 20px 0.8fr 0.95fr 0.3fr 0.6fr;
}

.men {
  position: relative;
  top: 18px;
  left: 66px;
}

.stores {
  left: 156px;
}

.icon {
  position: relative;
  top: -15px;
  text-align: center;
}

.icon a {
  display: inline-block;
  margin: 10px;
}

.logo {
  position: relative;
  text-align: center;
  top: 10px;
}

.prieviv {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 130vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.prieviv img {
  position: relative;
  left: -60px;
  background-size: 100%;
}

.prieviv_text {
  position: relative;
  top: -70vh;
  left: 26vw;
  color: white;
  font-size: 48px;
}

.prieviv p {
  position: relative;
  top: -75vh;
  left: 45vw;
  color: white;
  font-size: 16px;
}

.btn {
  width: 200px;
  height: 38px;
  background: #fff;
  position: absolute;
  text-align: center;
  padding: 20px 0 0 0;
  text-transform: uppercase;
}

.btn1 {
  top: 650px;
  left: 30%;
}

.btn2 {
  top: 650px;
  left: 55%;
}

figure {
  display: inline-block;
  /* Выстраиваем по горизонтали */
  position: relative;
  top: 70px;
  padding: 0 0px 0 50px;
  /* Поля */
  margin: 0 17% 0 0;
  /* Отступ справа */
  vertical-align: middle;
  /* Выравниваем по верхнему краю */
}

figcaption {
  position: relative;
  top: 5px;
  float: right;
  margin: 0;
}

.white {
  position: relative;
  top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3% 1fr 1fr 1fr;
      grid-template-columns: 3% 1fr 1fr 1fr;
}

.favorit {
  position: relative;
  top: -40px;
  text-align: center;
}

.fav {
  text-align: inherit;
  list-style: none;
  position: relative;
  top: 10px;
}

.fav li {
  display: inline;
  margin: 0 13% 0 15%;
}

.line {
  width: 90vw;
  margin: 0 0 0 70px;
  border-bottom: solid 1px black;
  position: relative;
  bottom: 110%;
}

.fav2 {
  top: 100px;
  left: -170px;
}

.lines {
  position: relative;
  width: 320px;
  border-bottom: 1px solid black;
}

.line1 {
  left: 65px;
  top: 70px;
}

.line2 {
  left: 520px;
  top: 70px;
}

.line3 {
  left: 970px;
  top: 70px;
}

.bottom {
  text-transform: uppercase;
  width: 250px;
  top: 120px;
  left: 120px;
}

.bottom2 {
  width: 250px;
  top: 230px;
  left: 120px;
}

.three {
  background-size: 100%;
  position: relative;
  top: 250px;
}

.text {
  size: 32px;
  position: relative;
  top: 300px;
  text-align: center;
}

.meriono {
  size: 16px;
  position: relative;
  top: 300px;
  text-align: center;
}

.black {
  background: #000;
  color: white;
  position: relative;
  top: 300px;
}

.gribBtn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.2fr 1fr;
      grid-template-columns: 1fr 0.2fr 1fr;
}

.gribBtn .btn {
  margin: 0 0 0 90%;
}

.gribBtn .btn:first-child {
  margin: 0 0 0 70%;
}

.four {
  width: 100%;
  height: 430px;
  overflow: hidden;
  border: 1px solid red;
  margin: 10px auto;
  position: relative;
  top: 400px;
}

span {
  position: absolute;
  top: 40%;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  left: 2%;
  z-index: 1;
}

span:nth-of-type(2) {
  left: 97%;
  text-align: right;
}

.slider {
  width: 97%;
  height: 600px;
  background: #bbb8b8;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  overflow-x: auto;
}

.slider img {
  position: relative;
  top: -70px;
}

.slider::-webkit-scrollbar {
  visibility: hidden;
}

.five {
  width: 100%;
  height: 100vh;
}
