@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: #000;
}

header {
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  height: 60px;
  -ms-grid-columns: 20px 0.8fr 0.95fr 0.3fr 0.6fr;
      grid-template-columns: 20px 0.8fr 0.95fr 0.3fr 0.6fr;
}

.men {
  position: relative;
  top: 18px;
  left: 66px;
}

.stores {
  left: 156px;
}

.icon {
  position: relative;
  top: -15px;
  text-align: center;
}

.icon a {
  display: inline-block;
  margin: 10px;
}

.logo {
  position: relative;
  text-align: center;
  top: 10px;
}

.prieviv {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.prieviv_text {
  position: relative;
  top: -70vh;
  left: 26vw;
  color: white;
  font-size: 48px;
}

.prieviv p {
  position: relative;
  top: -75vh;
  left: 45vw;
  color: white;
  font-size: 16px;
}

.btn {
  width: 160px;
  height: 38px;
  background: #fff;
  position: absolute;
  text-align: center;
  padding: 20px 0 0 0;
  text-transform: uppercase;
}

.btn1 {
  top: 110vh;
  left: 30vw;
}

.btn2 {
  top: 110vh;
  left: 60vw;
}

figure {
  display: inline-block;
  /* Выстраиваем по горизонтали */
  padding: 10px;
  /* Поля */
  margin: 0 1em 0 0;
  /* Отступ справа */
  vertical-align: middle;
  /* Выравниваем по верхнему краю */
}

figcaption {
  float: right;
  margin: 0;
}
