body {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}

header {
  display: -ms-grid;
  display: grid;
  height: 60px;
  border: 1px solid #000;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.men {
  -ms-grid-column-align: start;
      justify-self: start;
  margin: 21px 18px 0 27px;
  font-size: 12px;
  font-weight: 400;
}
