@charset "UTF-8";
/* ======================  обнуление */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

/* ======================= переменные */
header,
.nav-header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header {
  -ms-grid-columns: 10rem 0.5fr;
      grid-template-columns: 10rem 0.5fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-header-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-main {
  -ms-grid-columns: 20rem 1fr;
      grid-template-columns: 20rem 1fr;
  grid-gap: 1.5rem;
  background: #909399;
  overflow: auto;
  height: 100%;
}

.nav-main {
  background: #606266;
  -webkit-box-shadow: 0px 2px 3px #e9e9e9;
          box-shadow: 0px 2px 3px #e9e9e9;
}

.nav-main-items {
  background: #1b99d5;
}

.nav-main-itemsu ul {
  margin: 1rem;
}

.nav-main-itemsu ul {
  background: #4A556D;
}

.nav-main-items ol {
  background: #383838;
  margin: 0 0 0.5rem;
}

.section-main {
  background: #383838;
  -webkit-box-shadow: 0px 2px 3px #e9e9e9;
          box-shadow: 0px 2px 3px #e9e9e9;
}

.main__card {
  margin: 0 0 1rem;
}

.card {
  background: #606266;
}

.main__galery {
  background: #EBEEF5;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.5rem;
}

.item__img {
  width: 5rem;
  height: auto;
}

.galery__img {
  position: relative;
  padding: 0 0 90% 0;
  background: #383838;
}

.galery__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page-footer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: #4A556D;
  color: #F6F6F6;
  font-family: Montserrat;
  overflow-x: hidden;
}

.page-wrapper {
  max-width: 65rem;
  height: 100vh;
  margin: 0 auto;
  -ms-grid-rows: 4rem 1fr 7rem;
      grid-template-rows: 4rem 1fr 7rem;
}

.page-wrapper,
.page-header,
.content-main,
.page-footer,
.main__galery {
  display: -ms-grid;
  display: grid;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header,
main,
footer {
  padding: 1rem;
}

header,
footer {
  background: #383838;
}

.nav-main,
.nav-main-items,
.nav-main-items ol,
.section-main section,
.card {
  padding: 0.5rem;
}

.card,
.section-main,
.nav-main, .nav-main-itemsu ul {
  border-radius: 0.3rem;
}

.main__map iframe {
  height: 500px;
  width: 500px;
}
