$Variable: tomato; // сксс доступна глобально
$zamena: left;

.no-#{$zamena}{
    border-#{$zamena}: none; // интерпляция
}

html{
  --myVariable: tomato;  //доступно из html
}

body{
    margin: calc(100vw -50px * 2); // калк берет область эерана которую не видят препроцесоры 
    // помогает им 
    // работа с цветами
    color: rgba(#302638, 0.5); // скомпилирует в ргба
    color: desatyrete(#302638, 30%); // скомпилирует в хекс
    color: light(#302638, 20%);
}
