$Variable: tomato; // сксс доступна глобально
$zamena: left;

.no-#{$zamena}{
    border-#{$zamena}: none; // интерпляция
}

html{
  --myVariable: tomato;  //доступно из html
}

body{
    margin: calc(100vw -50px * 2);
}
