header {
  margin: 13px auto;
  max-width: 90%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__logo {
  max-width: 236px;
}

header .header__menu {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
}

header .header__menu li a {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 2.4px;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

header .header__menu li a:hover {
  color: #D7B9E4;
}

.header__button {
  height: 20px;
  width: 50px;
}

@media (max-width: 320px) {
  .header__menu {
    display: none;
  }
  .header__menu {
    display: -ms-grid;
    display: grid;
    gap: 8px;
  }
}

.menu__link {
  color: black;
}

.menu__link__anactive {
  color: gray;
}

body {
  background: #171C8F;
}

body {
  padding: 0;
  margin: 0;
  font-family: roboto;
}
